.container{
  text-align: center;
  background-color:  #f8f9fa;
  height: 95vh;
  width: 90vw;
  max-width: 100%;
  border-radius: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  border: 2px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}




