
::ng-deep .mat-dialog-container {
  background-color: #000;
  color: #fff;
  width: 500px;
  max-width: 90vw;
  height: 400px;
  max-height: 90vh;
}

.modal-title {
  background-color: black;
  text-align: center;
  margin: 0;
  color: #fff;
}

.modal-content {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.modal-details {
  margin-bottom: 20px;
}

.modal-name, .modal-username {
  margin: 5px 0;
  color: #fff;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-actions button .accept-button {
  background-color: green;
  width: 100px;
  color: #000;
  background-color: #fff;
}

.accept-button
{
  background-color: green;
}

.reject-button
{
  background-color: red;
}
